<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Check the Weather</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <main class="main">
      <div class="container-fluid form-container">
          <div class="wrapper">
            <h1>What's the weather in your city?</h1>
            <fieldset>
              <form class ="form" action="/" method="post">
                <div class="form-group"><input name="city" type="text" class="form-control form-control-lg" placeholder="Enter a City" required></div>
                <div class="form-group"><input type="submit" class="btn btn-primary btn-lg" value="Get Weather"></div>
              </form>    
            </fieldset>
          </div>
      </div>
      <div class="container-fluid container">
          <div class="results">
            <% if(weather_temp != null){ %>
              <div class="weather-results">
                  <div class="description"><%= weather.weather[0].main%></div>
                  <div class="icon"><img src="https://openweathermap.org/img/wn/<%= weather.weather[0].icon %>@2x.png"/></div>
                  <div class="temp"><%= weather_temp %> &deg; F</div>
                  <div class="location"><%= weather.name %> </div>
              </div>
                   
          <% } %>
    
          <% if(error != null){ %>
            <div class="error"><p><%= error %></p></div>
        <% } %>
          </div>

      </div>
    </main>
    
  </body>
</html>